<% if @user.contacts.count == 0 %>
				<h1>You have no contacts at this time</h1>
<% else %>
				<table id="contacts_table">
								<thead>
												<tr>
																<th>Name</th>
																<th>Email</th>
																<th>Phone</th>
																<th>Address</th>
												</tr>
								</thead>
								<tbody>
									<%= @user.contacts.each do |contact| %>
										<tr>
											<td><%= contact.name %></td>
											<td><%= contact.email %></td>
											<td><%= contact.phone %></td>
											<td><%= contact.address %></td>
										</tr>
									<% end %>
								</tbody>
				</table>
<% end %>
